<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handalfabetet"
    android:versionCode="1"
    android:versionName="1.0" >

    // Permission to vibrate
    <uses-permission android:name="android.permission.VIBRATE" />    
    
    // Permission to use camera and to store photo 
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/login" >
            <intent-filter>
                <action android:name="android.intent.action.USERACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.MainActivity" />
        </activity>
        <activity
            android:name=".UserArrayAdapterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.UserActivity" />
        </activity>
        <activity
            android:name=".CreateNewPlayerActivity"
            android:label="@string/createNewPlayer" >
            <intent-filter>
                <action android:name="android.intent.action.CREATENEWPLAYERACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.UserActivity" />
        </activity>
        <activity
            android:name=".ImagePickActivity"
            android:label="@string/title_activity_image_pick" >
            <intent-filter>
                <action android:name="android.intent.action.IMAGEPICKACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>             
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.CreateNewPlayerActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/help" >
            <intent-filter>
                <action android:name="android.intent.action.HELPACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.MainActivity" />
        </activity>
        <activity
            android:name=".AlphabetHelpActivity"
            android:label="@string/title_activity_alphabet_help" >
            <intent-filter>
                <action android:name="android.intent.action.ALPHABETHELPACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>              
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.HelpActivity" />
        </activity>
        <activity
            android:name=".GameHelpActivity"
            android:label="@string/title_activity_game_help" >
            <intent-filter>
                <action android:name="android.intent.action.GAMEHELPACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.HelpActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.GAMEACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.MainActivity" />
        </activity>
        <activity
            android:name=".LevelChooserActivity"
            android:label="@string/title_activity_level_chooser" >
            <intent-filter>
                <action android:name="android.intent.action.LEVELCHOOSERACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.MainActivity" />
        </activity>
        <activity
            android:name=".GameEndActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.GAMEENDACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>             
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.MainActivity" />
        </activity>
        <activity
            android:name=".DisplayHighscoreActivity"
            android:label="@string/highScore" >
            <intent-filter>
                <action android:name="android.intent.action.DISPLAYHIGHSCOREACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.MainActivity" />
        </activity>
        <activity
            android:name=".HighscoreArrayAdapterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.DisplayHighscoreActivity" />
        </activity>
        <activity
            android:name=".GameSettingsActivity"
            android:label="@string/menu_settings" >
            <intent-filter>
                <action android:name="android.intent.action.GAMESETTINGSACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.MainActivity" />
        </activity>
        <activity
            android:name=".SoundSettingsActivity"
            android:label="@string/sound_settings" >
            <intent-filter>
                <action android:name="android.intent.action.SOUNDSETTINGSACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.GameSettingsActivity" />
        </activity>
        <activity
            android:name=".ProfileSettingsActivity"
            android:label="@string/profile_settings" >
            <intent-filter>
                <action android:name="android.intent.action.PROFILESETTINGSACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>             
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.handalfabetet.GameSettingsActivity" />
        </activity>
    </application>

</manifest>